body {
    background-color: lightseagreen;
}

h1 {
    color: black;
    margin-left: 20px;
} 

body {
    border: 1px solid navajowhite;
    padding: 25px;
    background-color: paleturquoise;
}

.My Home Country { 
    background-color: gray;
}

#study {
    background-color: blanchedalmond;
} 